.container{
    background-color: aliceblue;
    /* margin-top: 150px; */
    border-radius: 5px;
    width: 300px;
    margin:150px 450px 150px;
}
.headstyle{
    text-align: center;
} 

form{
    padding-left: 41px;
    padding-right: 41px;
}
.btnstyle{
    width: 90px; 
    padding: 1px 1px;
}
.ancstyle2{
    padding: 0px;
}



